<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yihuolu.atj.mapper.DesisionMapper">

    <resultMap id="BaseResultMap" type="com.yihuolu.atj.entity.dataobject.Decision">
            <id property="nodeId" column="node_id" jdbcType="INTEGER"/>
            <id property="questionId" column="question_id" jdbcType="INTEGER"/>
            <result property="leftNode" column="left_node" jdbcType="INTEGER"/>
            <result property="rightNode" column="right_node" jdbcType="INTEGER"/>
            <result property="masterKnowledgeList" column="master_knowledge_list" jdbcType="VARCHAR"/>
            <result property="isLeaf" column="is_leaf" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        node_id,question_id,left_node,
        right_node,master_knowledge_list,is_leaf,
        is_deleted,version,created_time,
        updated_time
    </sql>
</mapper>
